nav{
    background-color: #3eeff598;
    /* overflow: hidden; */
    /* height: calc(100vh - 150px); */
    /* width: 200px; */
    /* height: 20vh; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        gap: 20px;          
        /* justify-content: center; */
        /* align-items: center; */
        /* margin-top: 40px;       */
        li{            
            list-style: none;   
            a{
                text-decoration: none;
                color: white;            
                font-size: 1.2rem;
                font-weight: bold;
                text-shadow: 1px 1px 2px #000000;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{                
                    color: #FED420;
                    text-shadow: 2px 2px 4px #000000;
                    transform: scale(1.1);
                }
            }
        }
    }
}